*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  font-family:
    "Fredoka", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
    --bg: hsl(245, 50%, 10%);
    --bg-dark: hsl(245, 50%, 5%);
    --bg-light: hsl(245, 50%, 15%);
    --bg-dark-transparent: hsl(245 50% 5% / 0.95);
    --border: hsl(245, 50%, 30%);
    --border-dark: hsl(245, 50%, 20%);
    --text: hsl(245, 50%, 90%);
    --text-muted: hsl(245, 50%, 75%);
    --bg-gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --bg-gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --color-tertiary: hsl(305, 80%, 80%);
    --color-accent: hsl(185, 80%, 80%);
    --highlight: hsl(245, 50%, 60%);
    --border-card: 1px solid var(--border);
    --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
    }

.light {
    --bg: hsl(245, 50%, 90%);
    --bg-light: hsl(245, 50%, 95%);
    --bg-dark: hsl(245, 50%, 85%);
    --bg-dark-transparent: hsl(245 50% 85% / 0.95);
    --text: hsl(245, 50%, 10%);
    --text-muted: hsl(245, 50%, 25%);
    --color-secondary: hsl(245, 50%, 10%);
    --color-tertiary: hsl(305, 80%, 20%);
    --color-accent: hsl(185, 80%, 20%);
    --highlight: hsl(245, 50%, 100%);
    --border: hsl(245, 50%, 30%);
    --border-dark: hsl(245, 50%, 20%);
    --bg-gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --bg-gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --border-card: 1px solid var(--bg);
}

body {
    background-color: var(--bg);
    transition: background-color 0.5s ease, color 0.5s ease; 
}

.container {
    margin: 0 auto;
    height: 100vh;
    max-width: 1200px;
    transition: filter 0.2s ease-in;
}

nav {
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 40px 16px 40px;
    border-bottom: 2px solid var(--border);
}

nav h1 {
    font-size: 1.5rem;
}

nav span {
    color: var(--color-tertiary);
}

.menu-icon {
    display: none;
}

.color-theme-svg, .menu-svg {
    fill: var(--color-tertiary);
} 

nav ul {
    font-weight: 600;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--text-muted);
}

nav ul li:hover, nav svg:hover {
    cursor: pointer;
}

/* NAV BAR TILL HERE */

.leftMenuPanel {
    transition: transform 0.2s ease-in;
    padding: 36px 24px;
    display: flex;
    flex-direction: column;
    transform: translateX(-300px);
    position: absolute;
    left: 0;
    top: 0;
    width: calc(200px + 5vw);
    height: 100vh;
    border-right: 2px solid var(--border-dark);
    background-color: var(--bg-dark-transparent);
    z-index: 10;
}

.leftMenuPanel ul {
    list-style-type: none;
}

.leftMenuPanel ul li {
    font-weight: 500;
    color: var(--text);
    background-color: var(--bg);
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 8px 16px;
    border: var(--border-card);
    border-top: 1px solid var(--highlight);
    background: var(--bg-gradient);
    box-shadow: var(--shadow);
}

.leftMenuPanel ul li:hover {
    background: var(--bg-gradient-hover);
    cursor: pointer;
}

/* LEFT MENU PANEL ABOVE */

.Home {
    flex-wrap: wrap-reverse;
    row-gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: clamp(40px, min(8vw, 15vh), 200px) 40px; 
}


.HomeText h2:nth-child(1) {
    color: var(--text);
}

.HomeText h2 {
    font-size: 4rem;
    color: var(--color-tertiary);
}

.HomeText h3 {
    margin: 20px 0px 10px 0px;
    color: var(--text);
}

.HomeText p {
    color: var(--text-muted);
}

.imgPfp {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.contactBtn {
    transition: background-color 0.2s ease;
    border: 1px solid var(--color-tertiary);
    background-color: var(--bg-dark);
    color: var(--color-tertiary);
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 20px;
}

.contactBtn:hover {
    background-color: var(--bg-gradient-hover);
    cursor: pointer;
}

@media (max-width: 900px) {
    .ul-hide {
        display: none;
    }
    .menu-icon {
        display: inline;
    }
}